.windowpeak{
    background-image: url("https://web-images.credcdn.in/_next/assets/images/home-page/image-mock.jpg");
    min-height: 500px;
    background-color: var(--white-bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}