@import './styles/fonts/gilroy/fonts.css';
@import './styles/css/variable.css';
@import './styles/css/utils.css';
@import './styles/css/animation.css';
body {
  margin: 0;
  font-family:Gilroy, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--bg-black);
  color:var(--white-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
